extends layout

block content
	if sesion
		.right-side-screen 
			a(href="/admin", style="font-size:20px;font-weight:100;")	Admin
	h1(class="insetType")	White Spaces <br> Goes on the Web
	br
	.center-screen
		form(id="form-options", class="font", action="choices", method="GET")
			fieldset(class="radio-container")
				.radio-options
					.toggle	Zone
					ul
						li
							input(type="radio", name="zona", id="merida", value="merida")
							label(for="merida")	Merida
						li
							input(type="radio", name="zona", id="vigia", value="vigia")
							label(for="vigia")	El Vigia
						li
							input(type="radio", name="zona", id="ejido", value="ejido")
							label(for="ejido")	Ejido
			fieldset(class="radio-container")
				.radio-options
					.toggle	Frequency
					ul
						li
							input(type="radio", name="frecuencia", id="470-570", value="470-570")
							label(for="470-570")	470-570 MHz
						li
							input(type="radio", name="frecuencia", id="570-670", value="570-670")
							label(for="570-670")	570-670 MHz
						li
							input(type="radio", name="frecuencia", id="670-770", value="670-770")
							label(for="670-770")	670-770 MHz
						li
							input(type="radio", name="frecuencia", id="770-870", value="770-870")
							label(for="770-870")	770-870 MHz
			br
			br
			.button_wrapper(align="center")
				.button_underneath.blue(style="width:162px;height:14px")
					input(id="options-enviar", type="submit", value="Consult", class="button blue", style="width:200px;height:40px;padding-top:6px")
		br
		br
		br
		br
		br
		br
		br
		.error-center-screen
			h2(class="font-error")	You must enter all the data!!
