doctype 5
html
	head
		title= title
		script(src="javascripts/head.min.js", type="text/javascript")	
		script	head.js("stylesheets/style.css")
	body
		#loader_container		
			#bowlG
				#bowl_ringG
					.ball_holderG
						.ballG
		#wrapper
			block content
		#footer
			#footer_left
				a(href="/white_spaces", style="font-size:30px;font-weight:100;")	¿Qué son White Spaces?
			#footer_right
				a(href="#terminos_condiciones", style="float:left;font-size:12px")	Términos y condiciones
				.font(style="float:left;font-size:12px")	 | Copyright &copy; 2013-2014 Spantons C.A Todos los derechos reservados.
		script(src="javascripts/jquery-1.7.2.min.js", type="text/javascript")	
		script	head.js("javascripts/routie.min.js","javascripts/modernizr.js","javascripts/jquery.form.js","javascripts/cryptico/sha512.js","javascripts/login.js","javascripts/jquery.nicefileinput.min.js","javascripts/heatmap.js","javascripts/heatmap-gmaps.js")
		script	head.js("javascripts/validadores.js","javascripts/routing.js")