extends layout

block content
	.back
		a(href="/")
			img(src="images/back.png")
	.top-center-screen
		h1(class="insetType")	Administrator
	.center-screen
		#login_container
			form(id="form-login")
				input(id="login_user", name="login_user", autocorrect="off", class="ipt_login border_top_6 Three-Dee ipt_font", type="text", value="Email", alt="You must enter your Email")
				input(id="login_pass_temp", name="login_pass_temp", class="ipt_login border_bottom_6 ipt_font", type="text", value="Password", alt="Contraseña/clave")
				input(id="login_pass", name="login_pass", class="ipt_login border_bottom_6 ipt_font", type="password", alt="Contraseña/clave")
				br
				br	
				.button_wrapper(align="center")
					.button_underneath(style="width:162px;height:14px")
						input(id="login_enviar", type="submit", value="Sign In", class="button", style="width:200px;height:40px;padding-top:6px")
			br
			br
			br
			.error
