extends layout

block content
	.back
		a(href="/")
			img(src="images/back.png")
	.top-center-screen
		h1(class="insetType")	Occupation
	#chart1
	script(type='text/javascript').
		
		window.onload = function(){
		var d2 = 
			[ [ 300000, 0.03459119496855346 ],
			[ 305357, 0.06289308176100629 ],
			[ 310714, 0.015723270440251572 ],
			[ 316071, 0.050314465408805034 ],
			[ 321428, 0.0031446540880503146 ],
			[ 326785, 0.012578616352201259 ],
			[ 332142, 0.0031446540880503146 ],
			[ 337499, 0.02830188679245283 ],
			[ 342856, 0.0220125786163522 ],
			[ 348213, 0.04716981132075472 ],
			[ 353570, 0.0031446540880503146 ],
			[ 358927, 0 ],
			[ 364284, 0.0031446540880503146 ],
			[ 369641, 0.006289308176100629 ],
			[ 374998, 0 ],
			[ 380355, 0.009433962264150943 ],
			[ 385712, 0.0031446540880503146 ],
			[ 391069, 0.0220125786163522 ],
			[ 396426, 0.02830188679245283 ],
			[ 401783, 0 ],
			[ 407140, 0.006289308176100629 ],
			[ 412497, 0.03459119496855346 ],
			[ 417854, 0.012578616352201259 ],
			[ 423211, 0 ],
			[ 428568, 0 ],
			[ 433925, 0.018867924528301886 ],
			[ 439282, 0.08490566037735849 ],
			[ 444639, 0.015723270440251572 ],
			[ 449996, 0.05660377358490566 ],
			[ 455353, 0.10377358490566038 ],
			[ 460710, 0.0220125786163522 ],
			[ 466067, 0.050314465408805034 ],
			[ 471424, 0.07547169811320754 ],
			[ 476781, 0.0660377358490566 ],
			[ 482138, 0.0220125786163522 ],
			[ 487495, 0.08490566037735849 ],
			[ 492852, 0.07232704402515723 ],
			[ 498209, 0.09119496855345911 ],
			[ 503566, 0.06289308176100629 ],
			[ 508923, 0.03773584905660377 ],
			[ 514280, 0.8616352201257862 ],
			[ 519637, 0.9433962264150944 ],
			[ 524994, 0.24528301886792453 ],
			[ 530351, 0.12578616352201258 ],
			[ 535708, 0.08176100628930817 ],
			[ 541065, 0.1949685534591195 ],
			[ 546422, 0.9339622641509434 ],
			[ 551779, 0.8238993710691824 ],
			[ 557136, 0.18238993710691823 ],
			[ 562493, 0.11006289308176101 ],
			[ 567850, 0.18867924528301888 ],
			[ 573207, 0.22641509433962265 ],
			[ 578564, 0.18867924528301888 ],
			[ 583921, 0.050314465408805034 ],
			[ 589278, 0.050314465408805034 ],
			[ 594635, 0.1509433962264151 ],
			[ 599992, 0.1320754716981132 ],
			[ 605349, 0.07547169811320754 ],
			[ 610706, 0.006309148264984227 ],
			[ 616063, 0.015772870662460567 ],
			[ 621420, 0.01892744479495268 ],
			[ 626777, 0.01892744479495268 ],
			[ 632134, 0.031545741324921134 ],
			[ 637491, 0 ],
			[ 642848, 0.01892744479495268 ],
			[ 648205, 0.015772870662460567 ],
			[ 653562, 0.031545741324921134 ],
			[ 658919, 0.015772870662460567 ],
			[ 664276, 0.012618296529968454 ],
			[ 669633, 0.012618296529968454 ],
			[ 674990, 0.3438485804416404 ],
			[ 680347, 0.031545741324921134 ],
			[ 685704, 0.01892744479495268 ],
			[ 691061, 0.006309148264984227 ],
			[ 696418, 0.00946372239747634 ],
			[ 701775, 0.00946372239747634 ],
			[ 707132, 0.0031545741324921135 ],
			[ 712489, 0.0031545741324921135 ],
			[ 717846, 0.006309148264984227 ],
			[ 723203, 0 ],
			[ 728560, 0.006309148264984227 ],
			[ 733917, 0.0031545741324921135 ],
			[ 739274, 0.006309148264984227 ],
			[ 744631, 0.056782334384858045 ],
			[ 749988, 0.015772870662460567 ],
			[ 755345, 0.006309148264984227 ],
			[ 760702, 0.012618296529968454 ],
			[ 766059, 0.0031545741324921135 ],
			[ 771416, 0 ],
			[ 776773, 0.006309148264984227 ],
			[ 782130, 0.031545741324921134 ],
			[ 787487, 0.04100946372239748 ],
			[ 792844, 0.04416403785488959 ],
			[ 798201, 0.0473186119873817 ],
			[ 803558, 0.03470031545741325 ],
			[ 808915, 0.04100946372239748 ],
			[ 814272, 0.05362776025236593 ],
			[ 819629, 0.05993690851735016 ],
			[ 824986, 0.04416403785488959 ],
			[ 830343, 0.03785488958990536 ],
			[ 835700, 0.03785488958990536 ],
			[ 841057, 0.028391167192429023 ],
			[ 846414, 0.07886435331230283 ],
			[ 851771, 0.09779179810725552 ],
			[ 857128, 0.0946372239747634 ],
			[ 862485, 0.167192429022082 ],
			[ 867842, 1 ],
			[ 873199, 0.9905362776025236 ],
			[ 878556, 1 ],
			[ 883913, 1 ],
			[ 889270, 1 ],
			[ 894627, 0.3501577287066246 ] ];
		
			var plot1 = $.jqplot('chart1', [d2], {
				grid: {
					drawBorder: false,
					shadow: false,
					background: 'rgba(0,0,0,0)'
				},
				
				highlighter: { show: true },
				seriesDefaults: { 
					shadowAlpha: 0.1,
					shadowDepth: 2,
					fillToZero: true
				},
				series: [
					{
						color: 'rgba(198,88,88,.6)',
						negativeColor: 'rgba(100,50,50,.6)',
						showMarker: true,
						showLine: true,
						fill: true,
						fillAndStroke: true,
						markerOptions: {
							style: 'filledCircle',
							size: 8
						},
						rendererOptions: {
							smooth: true
						}
					},
					{
						color: 'rgba(44, 190, 160, 0.7)',
						showMarker: true,
						rendererOptions: {
							smooth: true,
						},
						markerOptions: {
							style: 'filledSquare',
							size: 8
						},
					}
				],
				axes: {
					xaxis: {
						// padding of 0 or of 1 produce same results, range 
						// is multiplied by 1x, so it is not padded.
						pad: 1.0,
						tickOptions: {
							showGridline: false
						}
					},
					yaxis: {
						pad: 1.05
					}
				}
			});
		}