.back
	a(href="#")
		img(src="images/back.png")
.center-screen	
	.insetType
		a(href="#white_spaces", style="font-size:30px;font-weight:100;")	¿Qué son White Spaces?
		br
		br
		.font(style="font-size:15px")	Son espacios no utilizados entre canales de television en la banda UHF