extends layout

block content
	.back
		a(href="/")
			img(src="images/back.png")
	.center-screen	
		.insetType
			a(href="#white_spaces", style="font-size:30px;font-weight:100;")	 White Spaces, What are They?
			br
			br
			.font(style="font-size:15px")	Spaces are not used  between TV channels on UHF band
